nodo-periferico-master/src/main/resources/sendConfirmed.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://in28minutes.com/students"
           elementFormDefault="qualified">

    <xs:element name="sendConfirmedReservations">
        <xs:complexType>
            <xs:sequence>
                <xs:element name= "id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Reservation">
        <xs:sequence>
            <xs:element name="idReservation" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>